

/*html {
	background: url(background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

html,body{
	margin:0;
	width:100%;
	height: 50%;
	padding-top: 10px;
}


.wrapper {
	min-height: 100%;
  	/* equal to footer height */
  	margin-bottom: 100px; 
}

.wrapper:after {
  content: "";
  display: block;
}
.wrapper:after {
  height: 120px; 
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* HEADER */

header{
  background:#fed4d6;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#80bfff 3px solid;

}

header nav li {
	float:left;
	padding: 0 20px 0 20px;
	list-style: none;
 	color:#ffffff;
  	text-decoration:none;
  	text-transform: uppercase;
  	font-size:16px;
 }

header nav {
	float: right;
	margin-top: 10px;
}

header #logo{
  float:left;
}

header #logo h1{
  margin:0;
}
header .highlight {
  color:#80bfff;
  font-weight:bold;
}

/* brand middle */
#symbol-container {
	height: 200px;
	width: 200px;
	border-radius: 200%;
	border: 10px solid white;
	margin:40px auto;
	padding: 0;
	position: relative;
	z-index: 99;
}

#symbol {
	width: 200px;
  	height: 200px;
  	border-radius: 100%;
}

/* image slider */

#r1, #r2, #r3{ display: none;}

.slide-container{
	top: -100px;
	margin: 0 auto;
	position: relative;
	width: 80%;
	height: 400px;
	background-color: #1c1c1c;
	border: solid 20px transparent;
	border-radius: 10px;
	background: #D3D3D3;
}

.slide-container .slides{
	position: absolute;
	width: 100%;;
	height: 100%;
}

.slide-container .slides img{
	width: inherit;
	height: inherit;
}

/** NAVIGATION ARROWS **/

.prev,.nxt {
 	height: 90px;
  	width: 45px;
  	position: absolute;
  	bottom: 100px;
	text-align: center;
	cursor: pointer;
	background-color: #D3D3D3;
}

.prev:hover, .nxt:hover{
		transition: .3s;
		background-color: rgba(255, 0, 0, 0.4);;
		color: #ffffff; 
}


.prev {
	border-bottom-left-radius: 90px;
 	border-top-left-radius: 90px;
	left: -50px;
	
}

.nxt {
	right: -50px;
	border-bottom-right-radius: 90px;
 	border-top-right-radius: 90px;	
}

.span-prev {
	position: absolute;
	font-size: 50pt;
	top: 50%;
	transform: translate(-30%,-60%);
	color: white;
}

.span-nxt { 
	position: absolute;
	font-size: 50pt;
	top: 50%;
	transform: translate(-60%,-60%);
	color: white;
}

.slide_img{z-index: -1;}

	#r1:checked ~ #s1  ,
	#r2:checked ~ #s2  ,
	#r3:checked ~ #s3
	{z-index: 9; animation: scroll 1s ease-in-out;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

/** ABOUT US -- BRIEF **/	

.label-container {
	width: 40%;
	height: 30%;
	margin:0 auto;
	position: relative;
}

.label-container h2 {
	font-size: 20px;
	text-align: justify;
}

.label-container h3 {
	font-size: 20px;
	text-align: right;
	padding: 0;
	margin:0;
}

#to-about {
	margin-left: 30%;
	margin-top: 5%;
	border:1px solid black;
	width:40%;
	margin-bottom: 7%;

}
#to-about h4 {
	text-align: center;
	margin:10px 10px 10px 10px;

}
#hr-top {
  display: block;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
}

#hr-top img {
	width: 50px;
	height: 50px;
}

#hr-top:before, 
#hr-top:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 12%;
}
#hr-top:before {
  right: 0.5em;
  margin-left: -50%;
  border: 0.1em;
  height: 0.1em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#hr-top:after {
  left: 0.5em;
  margin-right: -50%;
  border: 0.1em;
  height: 0.1em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#hr-top img {
  vertical-align: middle;
}

hr {

	border: 2px;
    height: 2px;
    width: 60%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/** EVENT SECTION **/

.section {
	margin-top: 100px;
}

#box {
	margin-top: 20px;
}

.event-container, .event-container-2 {
	width: 100%;
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}

.event-container img {
	width: 250px;
	float: left;
	margin-right: 20px;
}

.event-container-2 img {
	float: right;
	width: 250px;
	margin-left: 20px;
}

.cakes {
	 float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

.cakes img {
	width: 90px;
}

footer {
	height: 142px;
	background-color: #fed4d6;
	width: 100%;
	margin:0;
	border-top: #80bfff 3px solid;

}

.foot-info {
	width: 33%;
	float: left;
	text-align: center;
	margin: 50px auto;
}

.f-divider {
	border-right: 1px solid black;
}


@media only screen and (max-width: 768px) {
    header #logo,
    header nav,
	header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
}